{% extends 'main.html' %} {% block content %}

<div class="container">
  <h1>Словарь2</h1>
  {{ request.user.username }}
  {% if stat.word == 1 %}
  <form id="done-form" method="post" action="{% url 'dict2' %}">
    {% csrf_token %}
    <button id="done-button" type="submit" name="done" value="Выполнено">Готово</button>
  </form>
  {% elif stat.word > 1 and stat.word < 4  %}
  <h1>Вы уже знаете это слово</h1>
  {% elif stat.word < 1  %}
  <h1>Изучите сначала прошлое слово</h1>
  {% else %}
  <h1>Поздравляю вы изучили все слова</h1>
  {% endif %}
  <a href="{% url 'dict1' %}"><i class="arrow left"></i></a>
  <a href="{% url 'dict3' %}"><i class="arrow right"></i></a>
</div>

{% endblock content %}
